.formularioClases{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100%; /* Asegura que el cuerpo y el html ocupen toda la pantalla */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}