@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.headerClass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.navBarClass {
    display: flex; 
    align-items: center;
}

.ulClass{
    list-style-type: none; 
    display: flex;
    margin-left:250px;
    font-weight: 200;
}

.navBarClass .li {
    margin-right: 20px; 
}

a{
    text-decoration: none;
    color: rgb(147, 88, 165);
}

a:hover{
    background-color: rgb(147, 88, 165);
    color: white;
    font-weight: 400;
    border-radius: 7px;
    padding: 10px;
}

